@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1 class="text-info"> You've reached the end of the internet</h1>
            <hr/>
            <a class="btn btn-outline-success"  asp-controller="Movies" asp-action="Index"></a>
        </div>
    </div>

    <div class=" row text-center">Stupid ass be smarter i  have to create stupid error pages only because u wanna find something that not exists stupid awkward asshole </Div>
}
